body{
    background-color: rgb(208, 208, 208);
    margin: 10px;
}

.title{
    font-size: 70px;
    text-align: center;
}

.nav{
    text-align: center;
    padding: 20px;
    background-color: aliceblue;
}
.links{
    font-size: 30px;
    text-decoration: none;
    color: black;
    align-content: center;
    margin: 15px;

}

