{% extends "base.html" %}
{%block content %}

<div class="nav">
    <a class="links" href="/transversal/listarTransversal">Transversales</a>
    <a class="links" href="/instructores/listarInstructores">Instructores</a>
</div>

<div class="title-container">
    <h2 class="title">Programas</h2>
</div>

<div class="but-cont">
    <a class="button-c" href ="/programas/createPrograma">Nuevo</a>
</div>


    <div class="card-container">
        {% for programas in programas %}
        
            <div class="card-2">
                <img src="/static/SENA_COLOMBIA-logo-056E74F2AE-seeklogo.png" alt="" srcset="" width="80px" height="80px">
                <p>{{ programas.id_Programa }}</p>
                <p>{{ programas.Nombre_progr }}</p>

                <div class="button-container">
                    <a class="button" href="#">Ingresar</a>
                    <a  class="button" href="{{ url_for('programas.listar', Id_Coordinacion=programas.Id_Coordinacion) }}">Editar</a>
                </div>
            </div>
        
        {% endfor %}
    </div> 
{% endblock%}
</body>


