<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/index.css">
    <title>Bienvenido</title>
</head>
{%block content %} 
    <h1 class="title">Horarios Sena</h1>
    <div class="nav">
        <a class="links" href="/centros/listarCentro">Iniciar Sesion</a>
        <a class="links" href="">Soporte</a>
        <a class="links" href="">Información</a>
    </div>
{% endblock %}