
<link rel="stylesheet" href="style.css">

<nav class="navbar navbar-light" style="background-color: #ffffff; margin: 10px; border-radius: 200px; padding-top: 10px; margin-bottom: 70px;">
    <div class="container">
    <ul class="nav navbar-nav" style="margin: 10px; text-align: end; ">
        
        <li><a href="/">Salir</a></li>
        <li><a href="">Soporte</a></li>

    </ul>
    </div>
</nav>
<body style="background-color: rgb(208, 208, 208); padding: 400px; margin: 15px; padding-top: 5%; padding-bottom: 5%;">

</body>